.wrapper {
  display: grid;
  grid-template-columns: 259px 1fr 254px;
  grid-template-rows: 358px 562px 562px;
  grid-gap: 15px;
  grid-template-areas:
    'slide-profile slider recomendations'
    'slide-profile new-post recomendations'
    'menu-sidebar posts advertisment'
    '. posts profile-company'
    '. . chat';
}
.slide-profile {
  grid-area: slide-profile;
  background: $img-primary;
}
.slider {
  grid-area: slider;
  background: $img-primary;
}
.recomendations {
  grid-area: recomendations;
  background: $img-primary;
}
.slide-profile {
  grid-area: slide-profile;
  background: $img-primary;
}
.new-post {
  grid-area: new-post;
  background: $img-primary;
}
.recomendations {
  grid-area: recomendations;
  background: $img-primary;
}
.menu-sidebar {
  grid-area: menu-sidebar;
  background: $img-primary;
}
.posts {
  grid-area: posts;
  background: $img-primary;
}
.posts {
  grid-area: posts;
  background: $img-primary;
}
.advertisment {
  grid-area: advertisment;
  background: $img-primary;
}
.profile-company {
  grid-area: profile-company;
  background: $img-primary;
}
.chat {
  grid-area: chat;
  background: $img-primary;
}
