.main {
  margin-top: 30px;
  @include container;
  display: grid;
  grid-template-columns: 259px 1fr 254px;
  grid-gap: 30px;
  grid-template-areas: 'left center right';
}
.header {
  background: $primary-icon;
  height: 89px;
  text-align: center;
}
.slide-profile {
  background: $primary-icon;
  margin-top: 30px;
  height: 358px;
  text-align: center;
}
.slider {
  height: 100px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.recommendations {
  grid-area: recommendations;
  height: 371px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.new-post {
  grid-area: new-post;
  height: 151px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.posts {
  height: 568px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.menu-sidebar {
  height: 376px;
  text-align: center;
  background: $primary-icon;
  margin-top: 30px;
}
.advertisement {
  height: 294px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.profile-company {
  height: 190px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
.chat {
  height: 46px;
  background: $primary-icon;
  text-align: center;
  margin-top: 30px;
}
