.header {
  &__wrapper {
    @include container;
    padding: 18px 0 21px 0;
    height: 51px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__search {
    position: relative;
    width: 567px;
    display: flex;
    justify-content: space-between;
    &_search {
      position: absolute;
      left: 98px;
      top: 16px;
      width: 24px;
      height: 24px;
    }
  }
  &__linkedlin {
    padding-top: 5px;
    width: 47.26px;
    height: 45px;
  }
  &__input {
    margin-left: 32px;
    width: 488px;
    height: 50px;
    padding-left: 52px;
    background: #f8f8fa;
    border-radius: 25px;
    font-weight: 400;
    border: none;
  }
  &__icons {
    width: 355px;
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 45px;
    height: 45px;
    background: $primary-icons;
    border-radius: 15px;
  }
  .icon {
    background: $primary-icon;
  }
  &__link {
    display: block;
    padding: 11px;
  }
  &__img {
    width: 164.14px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-weight: 500;
    padding-top: 15px;
  }
  img {
    width: 45px;
    height: 45px;
    background: #dbe7ff;
    border-radius: 20px;
  }

  &__gloup {
    margin-top: 12px;
  }
  span {
    height: 45px;
    border-right: 2px solid rgba(0, 0, 0, 0.25);
  }
}
