.header {
  &__container {
    padding: 10px 0 21px 0;
    height: 89px;
    @include container;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search-point {
    position: relative;
    width: 567px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
    cursor: pointer;
  }
  &__search {
    display: block;
    position: absolute;
    left: 97px;
    top: 15px;
  }
  &__input {
    width: 488px;
    height: 50px;
    background: $input-bg;
    border-radius: 25px;
    border: none;
    margin-left: 30px;
    padding-left: 57px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $main-text;
  }
  &__menu {
    position: relative;
    list-style-type: none;
    width: 355px;
    padding-left: 17px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__list {
    width: 45px;
    height: 45px;
    background: $primary-icons;
    border-radius: 15px;
  }
  &__link {
    display: block;
    text-align: center;
    padding-top: 9px;
  }
  &__delimiter {
    position: absolute;
    display: block;
    width: 45px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
    left: 349px;
    top: 22px;
  }
  .user-data {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 164.14px;
    &__img {
      background: #dbe7ff;
      border-radius: 18px;
    }
    &__name {
      font-weight: 500;
    }
    &__button {
      display: flex;
      align-items: center;
      background-color: $main-bg;
      width: 14px;
      height: 14px;
      border: none;
      cursor: pointer;
    }
  }
}
