$main-bg: var(--main-bg);
$main-text: var(--main-text);
$secondary-link: var(--secondary-link);
$secondary-text: var(--secondary-text);
$primary-icon: var(--primary-icon);
$input-bg: var(--input-bg);
$input-placeholder: var(--input-placeholder);
